/*.button:disabled{
    -fx-background-color: #ababab;
    -fx-text-fill: black;
    -fx-font-size: 34px;
}*/
.vsComputadora {
    -fx-background-radius: 20; /* Ajusta el radio según sea necesario */
    -fx-border-radius: 20; /* Ajusta el radio según sea necesario */    
}
.vsComputadora:hover {
    -fx-background-color: FFDFA8; /* Color de fondo cuando el ratón está sobre el botón */
}
.vsJugador {
    -fx-background-radius: 20; /* Ajusta el radio según sea necesario */
    -fx-border-radius: 20; /* Ajusta el radio según sea necesario */    
}
.vsJugador:hover {
    -fx-background-color: FFDFA8; /* Color de fondo cuando el ratón está sobre el botón */
}
.CPUvsCPU {
    -fx-background-radius: 20; /* Ajusta el radio según sea necesario */
    -fx-border-radius: 20; /* Ajusta el radio según sea necesario */    
}
.CPUvsCPU:hover {
    -fx-background-color: FFDFA8; /* Color de fondo cuando el ratón está sobre el botón */
}
.salirDelJuego {
    -fx-background-radius: 20; /* Ajusta el radio según sea necesario */
    -fx-border-radius: 20; /* Ajusta el radio según sea necesario */    
}
.salirDelJuego:hover {
    -fx-background-color: FFDFA8; /* Color de fondo cuando el ratón está sobre el botón */
}
.FondoMenuPrincipal{
    -fx-background-image: url("Fondo2.gif");
    -fx-background-size:600px 400px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

/*
--------------------------------Fondo para Custom1------------------------------
*/

.paneCustom1{
    -fx-background-image: url("gravityFondo.gif");
    -fx-background-size:600px 445px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.botonInicio1 {
    -fx-background-radius: 20; /* Ajusta el radio según sea necesario */
    -fx-border-radius: 20; /* Ajusta el radio según sea necesario */    
}

.radio-button .text {
    -fx-text-fill: black; /* Color predeterminado del texto */
}


/*
------------------------------- Fondo para vsComputador ------------------------
*/

.FondoVScomputador{
    -fx-background-image: url("Fondo3.jpg");
    -fx-background-size:650px 482px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
/*
------------------------------ Fondo para vsJugador ----------------------------
*/
.FondoVSjugador{
    -fx-background-image: url("Fondo3.jpg");
    -fx-background-size:600px 433px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
/*
------------------------------ Fondo para Custom2 ------------------------------
*/
.FondoCustom2{
    -fx-background-image: url("gravityFondo.gif");
    -fx-background-size:600px 445px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
.botGo {
    -fx-background-radius: 20; 
    -fx-border-radius: 20;     
}
/*
------------------------------ Fondo para Custom3 ------------------------------
*/
.FondoCustom3{
    -fx-background-image: url("mario.gif");
    -fx-background-size:600px 445px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
.bempezar {
    -fx-background-radius: 20; 
    -fx-border-radius: 20;     
}
/*
------------------------------- Fondo para cpuVScpu ----------------------------
*/
.FondoCPUvsCPU{
    -fx-background-image: url("Fondo3.jpg");
    -fx-background-size:650px 482px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
